.SkinRendererOuterContainer {
  text-align: center;

  &.SkinRendererInnerContainer {
    width: 50% !important;
    background: black;
    margin: auto !important;
    display: inline-block;

  }
}

.DownloadButton {
  color: #fff !important;
  background: #bb86fc !important;
  padding: 15px 20px !important;
  border-radius: 15px !important;
  width: 15%;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2) !important;
  transition: all 0.2s;
  &:hover {
    opacity: 0.9;
  }
}
